.carousel {
  height: 700px;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: auto;
}

.carousel-item {
  text-align: center;
}

.centerText {
  text-align: center;
}

footer {
  padding-top: 8px;
  bottom: 0;
  width: 100%;
  background: rgb(128, 128, 128, 0.4);
  flex-shrink: 0;
}

.footer-content-container {
  padding: 0 42vw 4px 42vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 10px;
}
