:root {
  --color-black: #00260f;
  --color-white: #fcf6e7;
  --color-lightblue: #9cdace;
  --color-grey: #E1EEC7;
  --color-yellow: #e5b446;
  --color-green: #61840d;
  
}

html {
  background-color: var(--color-white);
  font-size: 1.2rem;
}

.hover-dark:hover {
  filter: brightness(85%);
  transition: .15s ease-in-out
}

.hover-cursor:hover {
  cursor: pointer;
}

.c-bg-black {
  background-color: var(--color-black) !important;
  color: white;
}

.c-bg-white {
  background-color: var(--color-white) !important;
}

.c-bg-grey {
  background-color: var(--color-grey) !important;
}

.c-bg-green {
  background-color: var(--color-green) !important;
  color: white !important;
}

.c-bg-lightblue {
  background-color: var(--color-lightblue) !important;
  color: white;
}

.c-bg-yellow {
  background-color: var(--color-yellow) !important;
}

